.borde_card {
    border: #154360 5px solid;
}

.imgRedonda {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.orden_icon {
    width: 10%;
    height: 100%;
}

.orden_titulo {
    width: 90%;
}

.ultima_actualizacion {
    margin-left: 15%;
    margin-right: 15%;
}

ion-card-subtitle {
    margin-left: 7%;
    ;
}

hr {
    background-color: #154360;
}