<ion-header>
    <ion-toolbar>
        <ion-title>FICHA PERSONAL</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-app>
        <ion-header translucent>
            <ion-toolbar class="orden_tool">
                <ion-title>
                    <ion-icon name="person-circle-outline"></ion-icon>
                    Ficha Personal</ion-title>
            </ion-toolbar>
        </ion-header>,
        <ion-content fullscreen>
            <ion-card class="borde_card">
                <img class="imgRedonda" src="assets/img/usuario.jpg" />
                <ion-card-header>
                    <ion-card-subtitle class="ultima_actualizacion">Ultima Actualizacion 20 Enero 2020</ion-card-subtitle>
                    <ion-card-title color="success">
                        <ion-icon name="man-outline"></ion-icon> Personal a Contratar </ion-card-title>
                    <!--DATOS PERSONALES-->

                    <ion-card-subtitle>Pamela del Pilar Polanco Sanchez</ion-card-subtitle>
                    <ion-card-subtitle>Sin Escalafon</ion-card-subtitle>
                    <ion-card-subtitle>Ingeniero en Informatica</ion-card-subtitle>
                    <ion-card-subtitle>COMADO PERSONAL</ion-card-subtitle>
                    <hr>
                    <ion-card-subtitle>RUN: 111111111-1</ion-card-subtitle>
                    <ion-card-subtitle>Sexo: Femenino</ion-card-subtitle>
                    <ion-card-subtitle>Nacionalidad: Chilena</ion-card-subtitle>
                    <ion-card-subtitle>Fecha de Nacimiento: 08/Agosto/1990</ion-card-subtitle>
                    <ion-card-subtitle>Grupo Sanguinero: O+</ion-card-subtitle>
                    <ion-card-subtitle>Estado Civil: Casado(a)</ion-card-subtitle>
                    <hr>
                    <ion-card-subtitle>Fecha de Ingreso: 01/Julio/1995</ion-card-subtitle>
                    <ion-card-subtitle>N° Empleado: 50090-2</ion-card-subtitle>
                    <ion-card-subtitle>Cargo: SUPERVISOR SECCION DESARROLLO</ion-card-subtitle>
                    <ion-card-subtitle>Previcion Salud: SF</ion-card-subtitle>
                    <ion-card-subtitle>Previcion AFP: DC</ion-card-subtitle>
                    <hr>
                    <!--DATOS DE CONTACTO-->
                    <ion-card-title color="success">
                        <ion-icon name="call-outline"></ion-icon> Datos de Contacto</ion-card-title>
                    <ion-card-subtitle>Personal a Contratar: Camino San Vicente 37b Comuna Pirque </ion-card-subtitle>
                    <ion-card-subtitle>Telefono: 20298</ion-card-subtitle>
                    <ion-card-subtitle>Email: ppolanco@fach.mil.cl</ion-card-subtitle>



                </ion-card-header>
                <ion-card-content>
                    <ion-button color="success">Actualizar Datos</ion-button>
                </ion-card-content>
            </ion-card>
        </ion-content>
    </ion-app>
</ion-content>