.contenedor {
    height: 100%;
    width: 100%;
    max-width: 100%;
    /* Así establecemos el ancho máximo (si lo queremos) */
    padding-top: 56.25%;
    /* Relación: 16/9 = 56.25% */
    position: relative;
}

.delimitador {
    width: 100%;
    margin: auto;
}

video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}